In [1]:
from __future__ import print_function
import pandas as pd
import numpy as np

In [2]:
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=['A','B','C','D'])

In [7]:
print(df)

                   A         B         C         D
2013-01-01 -0.180895 -1.323473  0.284043 -0.145573
2013-01-02  0.136510  2.151426  0.047334 -0.788746
2013-01-03 -0.393339 -1.031438 -0.883324 -0.310175
2013-01-04 -1.241920  1.748788 -0.318242 -1.108411
2013-01-05  0.562505  0.875352  0.003114  0.735654
2013-01-06  0.499583 -1.584903 -2.392182  0.049332

In [3]:
print(df['A'], df.A)
print('\n')
print(df[0:3], df['20130102':'20130104'])

2013-01-01   -0.180895
2013-01-02    0.136510
2013-01-03   -0.393339
2013-01-04   -1.241920
2013-01-05    0.562505
2013-01-06    0.499583
Freq: D, Name: A, dtype: float64 2013-01-01   -0.180895
2013-01-02    0.136510
2013-01-03   -0.393339
2013-01-04   -1.241920
2013-01-05    0.562505
2013-01-06    0.499583
Freq: D, Name: A, dtype: float64


                   A         B         C         D
2013-01-01 -0.180895 -1.323473  0.284043 -0.145573
2013-01-02  0.136510  2.151426  0.047334 -0.788746
2013-01-03 -0.393339 -1.031438 -0.883324 -0.310175                    A         B         C         D
2013-01-02  0.136510  2.151426  0.047334 -0.788746
2013-01-03 -0.393339 -1.031438 -0.883324 -0.310175
2013-01-04 -1.241920  1.748788 -0.318242 -1.108411

In [11]:
# select by label: loc
print(df.loc['20130102'])
print(df.loc[:,['A','B']])
print(df.loc['20130102', ['A','B']])

A   -0.339970
B    0.372808
C   -0.051014
D    1.133009
Name: 2013-01-02 00:00:00, dtype: float64
                   A         B
2013-01-01  2.454861  0.428722
2013-01-02 -0.339970  0.372808
2013-01-03  0.427432 -1.188180
2013-01-04  0.319715  1.161965
2013-01-05  0.256862  0.646820
2013-01-06 -0.217322 -0.561179
A   -0.339970
B    0.372808
Name: 2013-01-02 00:00:00, dtype: float64

In [12]:
# select by position: iloc
print(df.iloc[3])
print(df.iloc[3, 1])
print(df.iloc[3:5,0:2])
print(df.iloc[[1,2,4],[0,2]])

A    0.319715
B    1.161965
C    0.248188
D    0.816240
Name: 2013-01-04 00:00:00, dtype: float64
1.1619647581371908
                   A         B
2013-01-04  0.319715  1.161965
2013-01-05  0.256862  0.646820
                   A         C
2013-01-02 -0.339970 -0.051014
2013-01-03  0.427432  0.169977
2013-01-05  0.256862  0.975434

In [17]:
# mix selection :ix
print(df.ix[:3, ['A', 'C']])

                   A         C
2013-01-01  2.454861  1.369905
2013-01-02 -0.339970 -0.051014
2013-01-03  0.427432  0.169977

In [18]:
# Boolean indexing
print(df[df.A > 0])

                   A         B         C         D
2013-01-01  2.454861  0.428722  1.369905  0.191857
2013-01-03  0.427432 -1.188180  0.169977  0.841083
2013-01-04  0.319715  1.161965  0.248188  0.816240
2013-01-05  0.256862  0.646820  0.975434 -1.249749