In [3]:
import pandas as pd

In [9]:
data = pd.read_csv('people.csv',encoding='gbk')
print(data)

   地点  名字  职位  工资  在职情况
0   1   1   1   1     1
1   1   2   2   2     2
2   1   3   2   3     1
3   2   4   3   4     1
4   2   5   4   5     2
5   2   6   5   4     1
6   3   7   6   6     1
7   3   8   6   6     1
8   3   9   7   5     2
9   3  10   8   7     1

In [10]:
data.to_pickle('people.pickle')