# 获取当前日期和时间

In [1]:
from datetime import datetime

In [2]:
now = datetime.now()

In [3]:
print(now)

2019-10-14 16:14:29.424924

In [4]:
print(type(now))

<class 'datetime.datetime'>

# 获取指定日期和时间

In [5]:
from datetime import datetime

In [6]:
dt = datetime(2015, 4, 19, 12, 20)

In [7]:
print(dt)

2015-04-19 12:20:00

# datetime转换为timestamp

In [8]:
from datetime import datetime

In [9]:
dt = datetime(2015, 4, 19, 12, 20)

In [10]:
dt.timestamp()

1429417200.0

# timestamp转为datetime

In [12]:
from datetime import datetime

In [16]:
t = 1429417200.0

In [17]:
print(datetime.fromtimestamp(t))

2015-04-19 12:20:00

In [18]:
print(datetime.utcfromtimestamp(t))

2015-04-19 04:20:00

# str转换为datetime

In [19]:
from datetime import datetime

In [21]:
cday = datetime.strptime('2015-6-1 18:19:59', '%Y-%m-%d %H:%M:%S')

In [22]:
print(cday)

2015-06-01 18:19:59

# datetime转换为str

In [23]:
from datetime import datetime

In [24]:
now = datetime.now()

In [25]:
print(now.strftime('%a, %b %d %H:%M'))

Mon, Oct 14 16:57

# datetime加减

In [26]:
from datetime import datetime, timedelta

In [28]:
now = datetime.now()

In [29]:
now

datetime.datetime(2019, 10, 14, 17, 2, 39, 283076)

In [32]:
now + timedelta(hours=10)

datetime.datetime(2019, 10, 15, 3, 2, 39, 283076)

In [33]:
now - timedelta(days=1)

datetime.datetime(2019, 10, 13, 17, 2, 39, 283076)

In [35]:
now + timedelta(days=2, hours=12)

datetime.datetime(2019, 10, 17, 5, 2, 39, 283076)

# 本地时间转换为UTC时间

In [36]:
from datetime import datetime, timedelta, timezone

In [37]:
tz_utc_8 = timezone(timedelta(hours=8))

In [38]:
now = datetime.now()

In [39]:
now

datetime.datetime(2019, 10, 14, 17, 6, 57, 132790)

In [40]:
dt = now.replace(tzinfo=tz_utc_8)

In [41]:
dt

datetime.datetime(2019, 10, 14, 17, 6, 57, 132790, tzinfo=datetime.timezone(datetime.timedelta(0, 28800)))

# 时区转换

In [43]:
utc_dt = datetime.utcnow().replace(tzinfo=timezone.utc)

In [45]:
print(utc_dt)

2019-10-14 09:10:27.509345+00:00

In [46]:
bj_dt = utc_dt.astimezone(timezone(timedelta(hours=8)))

In [47]:
print(bj_dt)

2019-10-14 17:10:27.509345+08:00

In [49]:
tokyo_dt = utc_dt.astimezone(timezone(timedelta(hours=9)))

In [50]:
print(tokyo_dt)

2019-10-14 18:10:27.509345+09:00

In [51]:
tokyo_dt2 = bj_dt.astimezone(timezone(timedelta(hours=9)))

In [52]:
print(tokyo_dt2)

2019-10-14 18:10:27.509345+09:00

# practice

In [62]:
import re
from datetime import datetime, timezone, timedelta

def to_timestamp(dt_str, tz_str):
    now = datetime.strptime(dt_str, '%Y-%m-%d %H:%M:%S')
    tz = int(re.match(r'.+?([+-]\d+)', tz_str).group(1))
    now = now.replace(tzinfo = timezone(timedelta(hours=tz)))
    return now.timestamp()

In [63]:
# 测试:
t1 = to_timestamp('2015-6-1 08:10:30', 'UTC+7:00')
assert t1 == 1433121030.0, t1

t2 = to_timestamp('2015-5-31 16:10:30', 'UTC-09:00')
assert t2 == 1433121030.0, t2

print('ok')

ok