In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('test.db')

In [3]:
cursor = conn.cursor()

In [4]:
cursor.execute('create table user (id varchar(20) primary key, name varchar(20))')

In [5]:
cursor.execute('insert into user (id, name) values (\'1\', \'Michael\')')

In [6]:
cursor.rowcount

1

In [7]:
cursor.close()

In [8]:
conn.commit()

In [9]:
conn.close()

In [10]:
conn = sqlite3.connect('test.db')

In [11]:
cursor = conn.cursor()

In [12]:
cursor.execute('select * from user where id=?', ('1',))

In [13]:
values = cursor.fetchall()

In [14]:
values

[('1', 'Michael')]

In [15]:
cursor.close()

In [16]:
conn.close()

# pracetice

In [21]:
import os, sqlite3

db_file = os.path.join(os.path.dirname(os.__file__), 'test3.db')
if os.path.isfile(db_file):
    os.remove(db_file)

# 初始数据:
conn = sqlite3.connect(db_file)
cursor = conn.cursor()
cursor.execute('create table user(id varchar(20) primary key, name varchar(20), score int)')
cursor.execute(r"insert into user values ('A-001', 'Adam', 95)")
cursor.execute(r"insert into user values ('A-002', 'Bart', 62)")
cursor.execute(r"insert into user values ('A-003', 'Lisa', 78)")
cursor.close()
conn.commit()
conn.close()

def get_score_in(low, high):
    #' 返回指定分数区间的名字，按分数从低到高排序 '
    conn = sqlite3.connect(db_file)
    cursor = conn.cursor()
    cursor.execute(r"select name from user where score>=? and score<=? order by score",(low,high))
    values = cursor.fetchall()
    cursor.close()
    conn.close()
    return [x[0] for x in values]

In [23]:
# 测试:
assert get_score_in(80, 95) == ['Adam'], get_score_in(80, 95)
assert get_score_in(60, 80) == ['Bart', 'Lisa'], get_score_in(60, 80)
assert get_score_in(60, 100) == ['Bart', 'Lisa', 'Adam'], get_score_in(60, 100)


print('Pass')

Pass